.card {
    overflow: hidden;
    transform: scale(1);
    box-shadow: 0 0px 0px 0 $dark;
    color: $success;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 5px 20px 0 $dark;
        border-color: $light;
    }
}

.card-title, 
.modal-title {
    color: $primary;
}

.modal-xl {
    color: $success;

    .modal-content {
        background-color: $secondary;
        border-color: $light!important;
    }
}


.blog-image {
    overflow: hidden;

    img {
    width: clamp(100px, 100%, 1200px);
    background-size: cover;
    background-attachment: fixed;
    }
}

.btn-secondary:hover {
    background-color: $primary!important;
    color: $secondary;

}


