.card {
    overflow: hidden;
    transform: scale(1);

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 2px 20px 0 $dark;
        transition: all 0.2s ease-in-out;

    }
}

.card-title {
    color: $primary;
}